* {
  font-family: 'Francois One', sans-serif;
}

body {
  overflow-x: hidden;
}

#container {
  @include themify($themes) {
    color: themed('font-color');
  }
  overflow:auto;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.rounded-circle {
  border-radius: 50%;
}

.row {
  @include themify($themes) {
    background: themed('background');
  }
}

a {
  @include themify($themes) {
    color: themed('font-color');
  }
}

#skill {
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
}

#master {
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
}

.work {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
  font-size: 20px;
}

.device-img {
  margin: 0 auto;
  width: 90%;
}

.device-description {
  font-size: 20px;
}

.topindex {
  position: relative;
  z-index: 999;
}

#canvas-particle>canvas {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  max-height: 450px;
}

.title {
  @include themify($themes) {
    color: themed('font-color');
  }
  font-size: 40px;
  padding-top: 130px;
  padding-left: 80px;
  font-size: 40px;
  min-height:400px;
}

.highlight {
  @include themify($themes) {
    color: themed('highlight');
  }
}

.description {
  padding-top: 30px;
  padding-right: 80px;
  font-size: 18px;
  text-align: right;
}

hr {
  background: transparent;
  border: 0;
  height: 1px;
  @include themify($themes) {
    background-color: themed('font-color');
  }
  height: 5px;
  width: 80px;
}

#gotop {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  right: 30px;
  color: #cdcdcd;
  height: auto;
  position: fixed;
  bottom: 60px;
  margin: 0;
  z-index: 10000;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.image-cicle {
  width: 70%;
  margin: 0px auto;
  border-radius: 3px;
}

.other {
  @include themify($themes) {
    background: themed('otherbackground');
    color: themed('othercolor');
  }
  text-align: center;
}

.topcircle>i {
  font-size: 22px;
  color: #b0b0b0;
  line-height: 52px;
  padding-left: 14.5px;
  padding-bottom: 3px;
  cursor: pointer;
  font-weight: bold;
}

.topcircle:hover {
  background: #e8e8e8;
  -webkit-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
}

.topcircle {
  -webkit-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  width: 52px !important;
  height: 52px !important;
  line-height: 52px;
  text-decoration: none;
  -o-border-radius: 52px;
  -moz-border-radius: 52px;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  border: 2px solid #e8e8e8;
  background: 0 0;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.copyright {
  @include themify($themes) {
    background: themed('footerbackground');
    color: themed('footercolor');
  }
  padding-top:15px;
  padding-bottom: 15px;
  text-align: center;
}

#progressbar1 {
  width: 150px;
  height: 150px;
  position: relative;
}

#progressbar2 {
  width: 150px;
  height: 150px;
  position: relative;
}

#progressbar3 {
  width: 150px;
  height: 150px;
  position: relative;
}

#progressbarline1 {
  margin: 20px;
  width: 80%;
  height: 8px;
  position: relative;
}

#progressbarline2 {
  margin: 20px;
  width: 80%;
  height: 8px;
  position: relative;
}

#progressbarline3 {
  margin: 20px;
  width: 80%;
  height: 8px;
  position: relative;
}

#progressbarline4 {
  margin: 20px;
  width: 80%;
  height: 8px;
  position: relative;
}

#progressbarline5 {
  margin: 20px;
  width: 80%;
  height: 8px;
  position: relative;
}

#progressbarline6 {
  margin: 20px;
  width: 80%;
  height: 8px;
  position: relative;
}

/* navbar */

nav {
  @include themify($themes) {
    background: themed('background');
  }
}

.navbar-default {
  @include themify($themes) {
    background: themed('background');
    border-color: themed('background');
  }
}

/* Title */

.navbar-default .navbar-brand {
  @include themify($themes) {
    color: themed('font-color');
  }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  @include themify($themes) {
    color: themed('font-color');
  }
}

/* Link */

.navbar-default .navbar-nav>li>a {
  @include themify($themes) {
    color: themed('font-color');
  }
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  @include themify($themes) {
    color: themed('font-color');
  }
}

/* Caret */

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
  border: 0px;
}

/* Mobile version */

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  @include themify($themes) {
    background-color: themed('background');
  }
}

.navbar-collapse {
  border: 0px;
}

.navbar-collapse::before {
  border: 0px;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.action {
  text-align: center;
  padding-top: 40px;
}

@media (max-width: 767px) {
  #gotop {
    right: 14px;
    bottom: 24px;
  }
  .title {
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
    padding-left: 0px;
    min-height: 0px;
  }
  .description {
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  .action {
    text-align: center;
    padding-top: 0px;
  }
  #skill {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  #master {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .work {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
  }
  .device-description {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 15px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 23px;
  }
}